.item-date {
  padding: 0.3rem 0.4rem;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  color: #0d6bf3;
}

.date-month {
  font-size: 18px;
}

/* dark theme */
.item-date.dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: #eee;
}

/* repsonsive layout properties */
@media (min-width: 768px) {
  .item-date {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
