.new-item-inputs {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.new-item-input {
  display: flex;
  flex-direction: column;

  & label {
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1.2rem;
  }

  & input,
  textarea {
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid #bcc9d5;
    background-color: #f1f3f4;
    font-family: "Varela Round", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #13171a;
  }

  & input:focus,
  textarea:focus {
    outline: none;
    border: 2px solid #0060e3;
    background-color: #fff;
  }
}

.new-item-actions {
  margin-top: 1rem;
  text-align: right;

  & button {
    padding: 0.8rem;
    margin-block: 1rem;
    margin: 1rem 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #0060e3;
    color: #fff;
    transition: all 0.2s ease-in;
    cursor: pointer;

    &:hover {
      background-color: #4c92f3;
      color: #fff;
      box-shadow: none;
    }
  }
}

.new-item-actions button:last-child {
  background-color: #e6f0fc;
  box-shadow: none;
  color: #0264eb;

  &:hover {
    background-color: #0060e3;
    color: #fff;
  }
}

/* dark theme */
.new-item-input.dark {
  & input,
  textarea {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
  }

  & input:focus,
  textarea:focus {
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
  }

  & label {
    color: #fff;
  }
}

.new-item-actions.dark button {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.new-item-actions.dark button:last-child {
  border-color: transparent;
}

/* responsive layout properties */
@media (min-width: 450px) {
  .new-item-input {
    & input,
    textarea {
      font-size: 1.1rem;
    }
  }
}
