.add-new-entry {
  padding: 0.5rem;
  border-radius: 10px;
  border-color: transparent;
  border-width: 1px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #13171a;
}

.add-new-entry-btn {
  display: block;
  padding: 0.8rem;
  margin-block: 1rem;
  margin-inline: auto;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 11px #0c6df5;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #0060e3;
  color: #fff;
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    background-color: #1471f4;
    color: #fff;
    box-shadow: none;
  }
}

.warning-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: rgb(255, 92, 92);

  & svg {
    margin-bottom: 0.5rem;
  }
}

/* dark theme */
.add-new-entry.dark {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #3d1763;
}

.add-new-entry-btn.dark {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

/* responsive layout properties */
@media (min-width: 450px) {
  .add-new-entry {
    padding: 1.2rem;

    & button {
      display: inline;
      margin: 1rem;
    }

    & button:last-child {
      margin-bottom: 1rem;
    }
  }

  .warning-text {
    flex-direction: row;
    font-size: 25px;

    & svg {
      margin-right: 1rem;
    }
  }
}
