.chart-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chart-bar-result {
  display: flex;
  align-items: flex-end;
  order: 2;
  height: 20%;
  flex-shrink: 0;
  display: inline;
  font-weight: 500;
  color: #95afc0;
}

.chart-bar-result span {
  color: #0d6bf3;
}

.chart-bar-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  order: 3;
  height: 40%;
  min-height: 1rem;
  margin: 0 auto;
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: #e0e6eb;
  overflow: hidden;
}

.chart-bar-fill {
  background-color: #0060e3;
  min-height: 1rem;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar-label {
  order: 1;
  margin-bottom: 0.4rem;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  color: #13171a;
}

/* dark theme */
.chart-bar-container.dark .chart-bar-result {
  color: #a3a3a3;
}

.chart-bar-container.dark .chart-bar-fill {
  background-color: #fd636d;
}

.chart-bar-container.dark .chart-bar-result span {
  color: #fff;
}

.chart-bar-container.dark .chart-bar-inner {
  background-color: rgba(255, 255, 255, 0.2);
}

.chart-bar-container.dark .chart-bar-label {
  color: #fff;
}

/* responsive layout properties */
@media (min-width: 768px) {
  .chart-bar-inner {
    order: 2;
    height: 75%;
    width: 0.9rem;
  }

  .chart-bar-top {
    height: 100%;
    width: unset;
  }

  .chart-bar-fill {
    min-height: unset;
  }

  .chart-bar-result {
    order: 3;
  }
}
