.item-spent-days {
  width: 100%;
  padding: 0.3rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;

  background-color: #fff;
  color: #0d6bf3;
}

.item-spent-days p {
  font-size: 18px;
  font-weight: 500;
}

/* dark theme */
.item-spent-days.dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: #eee;
}

/* responsive layout properties */
@media (min-width: 768px) {
  .item-spent-days {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .item-spent-days p {
    font-size: 24px;
  }
}
