.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-block: 1rem;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: #e6f0fc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.remove-btn {
  border: none;
  background-color: transparent;
  color: #888;
  cursor: pointer;

  & svg {
    margin: 0;
    margin-block: 0.5rem;
    font-size: 20px;
  }

  &:hover {
    color: #0060e3;
  }
}

.days-item {
  width: 100%;
}

.date-item {
  width: 100%;
}

.description-item {
  width: 100%;
  flex-grow: 1;
  margin-block: 1rem;
  padding: 0;

  & h3 {
    color: #13171a;
    margin-bottom: 0.2rem;
  }
}

/* dark theme */
.item-container.dark {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: none;
}

.item-container.dark .remove-btn {
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: #fff;
  }
}

.item-container.dark .description-item h3 {
  color: #fff;
}

/* responsive layout properties */
@media (min-width: 768px) {
  .item-container {
    flex-direction: row;
  }

  .remove-btn svg {
    margin-right: 1rem;
  }

  .days-item {
    width: 10%;
  }

  .description-item {
    width: 78%;
    margin-block: 0;
    padding: 0 1.3rem;
  }

  .date-item {
    width: 15%;
  }
}
